<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/HuntingAndFishingShop.styles.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="~/hunting.ico" />
</head>
<body>
<div class = "header">
    <img class = "img-header" src = "~/images/img_logo.png" alt="">
    <div class="logo">Охота и Рыбалка</div>
    <div class="menu">
        <ul>
            <li><a href = "#home">Главная</a></li>
            <li><a href = "#products">Товары</a></li>
            <li><a href = "#countries">Страны</a></li>
            <li><a href = "#feedbacks">Отзывы</a></li>
        </ul>
    </div>
    <div class = "button-header">
        <button class = "button">Регистрация</button>
        <button class = "button">Войти</button>
    </div>
</div>
<div class="container">
    @RenderBody()
</div>
</body>
</html>