/*Контейнер------------------------------------*/
.cont_catalogue {
    width: 100%;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}

.cont_category {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*Навигация-------------------------------------*/
nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_menu {
    width: 50%;
    display: flex;
    border: 4px solid #ffffff;
    justify-content: center;
    align-items: center;
}

.nav_menu:hover {
    border: 4px solid #000;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    margin-inline: 50px;
    color: black;
}

.nav_menu a:hover {
    color: #ffc107;
    cursor: pointer;
}

.cont_f_p {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.filter {
    flex: 2;
    border: 4px solid #ffffff;
    background: #ffffff;
    margin: 0 20px;
    padding: 20px;
    border-radius: 30px;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    
}

.filter:hover {
    border: 4px solid #000;
}

.cont_product {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sorts {
    display: flex;
    align-items: center;
    border: 4px solid #ffffff;
    gap: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    height: 55px;
}

.sorts:hover {
    border: 4px solid #000;
}

.sorts label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.sorts select {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.product_item {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 30px;
    position: relative;
    border: 4px solid #000;
    flex: 2 2 calc(25% - 10px);
    max-width: calc(100% - 10px);
    margin: 5px;
}

.product_item:hover {
    border: 4px solid #ffc107;
}

.product_main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product_img {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.product_main h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.product_extra {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    justify-content: space-around;
}

.product_extra p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffc107;
}

.price-filter {
    margin: 30px 15px;
    flex-direction: column;
}

.price-filter input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
}

.price-filter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffc107;
    border-radius: 50%;
    cursor: pointer;
}

.price-filter input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffc107;
    border-radius: 50%;
    cursor: pointer;
}

.price-filter input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ffc107;
    border-radius: 50%;
    cursor: pointer;
}

.price-filter div {
    display: flex;
    align-items: center;
    border-radius: 4px;
    gap: 20px;
}

#price_values {
    color: black;
    font-size: 16px;
    position: relative;
}

.filter_button {
    display: flex;
    justify-content: center;
}

.filter_button button {
    padding: 15px;
    background: #ffc107;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

.filter_button button:hover {
    color: black;
}

.min_max_cont {
    flex-direction: column;
}

.active-category {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.cont_f_s {
    flex-direction: column;
    height: fit-content;
}

.search {
    padding: 20px;
}

.search input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
    border: 3px solid #fff;
    outline: none;
}

.search input:hover {
    border: 3px solid #000;
}

.search button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #ffc107;
}

.search button:hover {
    color: black;
    border: 3px solid #000;
}















