/*Вход и регистрация----------------------------------------------------------------------------------*/
.container-login-registration,
.confirm-email-container {
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.block-container {
    width: 800px;
    height: 500px;
    padding-top: 20px;
    z-index: 901;
    position: relative;
    justify-content: center;
}

.block {
    height: 90%;
    background-color: rgb(255, 165, 0);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-radius: 100px;
}

.block.active {
    background-color: #565e64;
}

.block-item {
    width: 50%;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.block-item_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.block-item_btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.form-box {
    background-color: #ffffff;
    height: 110%;
    width: 50%;
    border: 6px solid #000000;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 902;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;
}

.form-box.active {
    left: 50%;
}

.form_title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 0 70px 10px 70px;
}

.form-box label {
    position: relative;
}

.form-box input {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 15px 0;
    font-size: inherit;
}

.form-box input:focus {
    border-color: rgb(255, 165, 0);
}

.form-box input:focus + span,
.form-box input:not(:placeholder-shown) ~ span {
    left: 8px;
    font-size: 12px;
    color: rgb(255, 165, 0);
    background-color: #fff;
}

span {
    cursor: text;
    position: absolute;
    top: 10%;
    left: 16px;
    color: rgb(131, 131, 131);
    transition: all 0.3s ease-in-out;
    padding: 0 4px;
    font-weight: bold;
}

.form-btn-signin {
    border: 2px solid #000000;
    cursor: pointer;
    background-color: rgb(255, 165, 0);
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 10px;
    font-size: inherit;
    width: fit-content;
}

.form-btn-signup {
    border: 2px solid #000000;
    cursor: pointer;
    background-color: #565e64;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 10px;
    font-size: inherit;
    width: fit-content;
}

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition: 0.25s;
}

.form_signup {
    left: 100%;
    transition: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition: 0s;
}

.form-box.active .form_signup {
    left: 0;
    transition: 0.25s;
}

#error-messages-signin {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#error-messages-signup {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error {
    color: red;
    font-size: 13px;
    font-weight: bold;
    margin: 2px 25px;
    text-align: center;
}

.confirm-email-form {
    margin-top: 130px;
    margin-bottom: 100px;
    display: grid;
    padding: 50px;
    width: fit-content;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    z-index: 991;
    place-items: center;
    border: 5px solid #000000;
}

.confirm-email-form input {
    outline: none;
    padding: 10px 5px;
    border: 3px solid #000;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

.confirm-email-form input:focus {
    border-color: rgb(255, 165, 0);
}

.confirm-email-form .form__title {
    font-size: 35px;
    margin-bottom: 16px;
    font-weight: bold;
}

.confirm-email-form p {
    max-width: 300px;
    text-align: center;
}

.button_confirm_container {
    display: flex;
    gap: 20px;
    margin: 20px auto;
}

.button_confirm {
    cursor: pointer;
    justify-self: center;
    color: rgb(255, 165, 0);
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    border: 3px solid;
}

.button_confirm:hover {
    background-color: rgb(255, 165, 0);
    color: #000;
    border: 3px solid rgb(255, 165, 0);
}

.button_confirm_close {
    color: #000;
}

.button_confirm_close:hover {
    background: #000;
    color: rgb(255, 165, 0);
    border: 3px solid #000;
}

.warning {
    padding: 5px;
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.smile {
    font-size: 50px;
}

.text_code {
    font-size: 15px;
    font-weight: bold;
}

.text_code::placeholder {
    font-weight: 200;
    font-size: 15px;
    color : #000000;
}

.text_code:focus::placeholder {
    font-size: 15px;
    color : rgb(255, 165, 0);
}

.google-img {
    width: 20%;
    margin: 10px 0 0 5px;
}

.form-btn-container{
    display: flex;
    align-items: center;
}

.form-btn-container a{
    display: contents;
}

.google {
    cursor: pointer;
}













