/*Вход и регистрация----------------------------------------------------------------------------------*/
.container-login-registration {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.block-container {
    width: 800px;
    height: 500px;
    padding-top: 20px;
    z-index: 901;
    position: relative;
    justify-content: center;
}

.block {
    height: 90%;
    background-color: rgb(255, 165, 0);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-radius: 100px;
}

.block.active {
    background-color: #565e64;
}

.block-item {
    width: 50%;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.block-item_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.block-item_btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

.form-box {
    background-color: #ffffff;
    height: 110%;
    width: 50%;
    border: 6px solid #000000;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 902;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;
}

.form-box.active {
    left: 50%;
}

.form_title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.form-box label {
    position: relative;
}

.form-box input {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 15px 0;
    font-size: inherit;
}

.form-box input:focus {
    border-color: rgb(255, 165, 0);
}

.form-box input:focus + span,
.form-box input:not(:placeholder-shown) ~ span {
    left: 8px;
    font-size: 12px;
    color: rgb(255, 165, 0);
    background-color: #fff;
}

span {
    cursor: text;
    position: absolute;
    top: 10%;
    left: 16px;
    color: rgb(131, 131, 131);
    transition: all 0.3s ease-in-out;
    padding: 0 4px;
}

.form-btn {
    border: 2px solid #000000;
    cursor: pointer;
    background-color: rgb(255, 165, 0);
    border-radius: 10px;
    color: #000000;
    padding: 10px 50px;
    margin-top: 10px;
    font-size: inherit;
    width: fit-content;
}

.form-btn_signup {
    background-color: #376b0b;
}

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition: 0.25s;
}

.form_signup {
    left: 100%;
    transition: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition: 0s;
}

.form-box.active .form_signup {
    left: 0;
    transition: 0.25s;
}