@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}

<div class="container">
    <div id="about" class="container-section scroll">
        <h2 class="title">О нас</h2>
        <div class="about_container">
            <img class="about_img" src="~/images/bg/main.jpg" alt="О нас">
            <p class="about_text">
                Мечтаешь о трофейной рыбе или удачной охоте?
                У нас ты найдешь все необходимое для воплощения своих желаний.
                Огромный выбор товаров для рыбалки и охоты от ведущих мировых брендов.
                Присоединяйся к нашему сообществу любителей активного отдыха!
            </p>
        </div>
    </div>

    <div id="popular" class="container-section scroll">
        <h2 class="title">Популярное</h2>
        <section id="hunting">
            <div class="catalogue_logo">
                <img class="img_logo" src="~/images/icons/weapon_icon.png" alt="Винтовка"/>
                <h2>Товары для охоты</h2>
                <img class="img_logo" src="~/images/icons/weapon_icon.png" alt="Винтовка"/>
            </div>
            <div class="product-grid">
                <div class="product-card">
                    <img src="~/images/hunting/bag.jpg" alt="Рюкзак">
                    <h3>Рюкзак Huntsman</h3>
                    <p class="price">3490 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/hunting/binocular.png" alt="Бинокль">
                    <h3>Бинокль NORIN</h3>
                    <p class="price">11 990 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/hunting/shotgun.jpg" alt="Ружьё">
                    <h3>Ружьё Remington</h3>
                    <p class="price">115 905 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/hunting/knife.png" alt="Нож">
                    <h3>Нож Victorinox</h3>
                    <p class="price">6 390 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/hunting/blind.jpg" alt="Засидка">
                    <h3>Засидка</h3>
                    <p class="price">10 290 руб.</p>
                </div>
            </div>
        </section>
        <section id="fishing">
            <div class="catalogue_logo">
                <img class="img_logo" src="~/images/icons/fish_icon.png" alt="Рыба"/>
                <h2>Товары для рыбалки</h2>
                <img class="img_logo" src="~/images/icons/fish_icon.png" alt="Рыба"/>
            </div>
            <div class="product-grid">
                <div class="product-card">
                    <img src="~/images/fishing/box.png" alt="Ящик">
                    <h3>Ящик "Друг-2"</h3>
                    <p class="price">5 290 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/fishing/rod.png" alt="Удилище">
                    <h3>Удилище Volzhanka</h3>
                    <p class="price"> 8 790 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/fishing/reel.jpg" alt="Катушка">
                    <h3>Катушка Nautilus</h3>
                    <p class="price">2 190 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/fishing/tee.jpg" alt="Тройник">
                    <h3>Тройник Owner</h3>
                    <p class="price">86 руб.</p>
                </div>
                <div class="product-card">
                    <img src="~/images/fishing/line.png" alt="Поводок">
                    <h3>Поводок Титановый</h3>
                    <p class="price">279 руб.</p>
                </div>
            </div>
        </section>
    </div>

    <div class="feedbacks">
        <div id="feedback" class="container-section scroll">
            <h2 class="title">Написать отзыв</h2>
            <div class="block-message">
                <div class="message-text">
                    <textarea class="text"></textarea>
                </div>
                <div class="message-button">
                    <button class="button" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>
