@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}

<div class="container">
    <div class = "container-section" >
        <img class="img_main" src="~/images/main.jpg" alt="Описание изображения">
        <p class="text">
            Мечтаешь о трофейной рыбе или удачной охоте? У нас ты найдешь все необходимое для воплощения своих желаний. Огромный выбор товаров для рыбалки и охоты от ведущих мировых брендов. Присоединяйся к нашему сообществу любителей активного отдыха!
        </p>
    </div>
    
</div>